.Modal {
  z-index: 1;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color: black, $alpha: 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  .Container {
    background-color: white;
    padding: 0.4rem;
    border-radius: 14px;
    display: flex;
    gap: 1.4rem;
    flex-direction: column;
    align-items: start;
    .ExitIcon{
      cursor: pointer;
      transition: 200ms;
      &:hover{
        color: #FF6767;
      }
    }
  }
}
