:root {
  --green: #05a301;
  --blue: #0225ff;
  --red: #f21e1e;
  --lightred:#FF6767;
  --lightgrey: #a1a3ab;
  --black: #000000;
  --darkGrey: #747474;
}
.Dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  height: 100%;
  .Greeting {
    width: 100%;
    text-align: left;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 2rem;
    font-family: "Inter", sans-serif;
  }
  .StatCardsRow{
    display: flex;
    width: 100%;
    gap:2rem;
    padding: 1rem;
    .StatCard{
      flex:1;
      background-color: white;
      border: #000000;
      padding: 1.5rem;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
      display: flex;
      flex-direction: column;
      align-items: center;
    }

  }

}
.AllTasksContainer {
  height: 100%;
  width: 85%;
  padding-top: 4rem;
  display: flex;
  flex-direction: row;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  .Card {
    height: 90%;
    width: 40%;
    border-radius: 16px;
    border: 1px solid var(--lightgrey);
    text-align: start;
    box-shadow: 3px 3px 3px rgba($color: var(--black), $alpha: 0.2);
    overflow: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    ::-webkit-scrollbar {
      width: 8px;
      background-color: transparent;
      border-radius: 22px;
    }
    ::-webkit-scrollbar-thumb {
      background-color: var(--lightgrey);
      border-radius: 22px;
      &:hover {
        background-color: var(--darkGrey);
      }
    }
    .ItemContainer {
      display: flex;
      margin-top: 0.4rem;
      flex-direction: column;
      overflow: auto;
    overflow-x: hidden;
    
    }

    h2 {
      padding-left: 3rem;
      padding-top: 2rem;
      position: relative;
      font-size: 1.2rem;
      user-select: none;
      &::before {
        content: "";
        position: absolute;
        bottom: -8%;
        width: 3rem;
        border-bottom: 2px var(--lightred) solid;
        transition: 0.5s;
      }
    }
    &:hover {
      h2 {
        &::before {
          width: 5.2rem;
        }
      }
    }
    h4 {
      font-size: 1rem;
      font-weight: bold;
    }
    p {
      font-size: 1rem;
      font-weight: normal;
      color: var(--darkGrey);
    }
    .Pretext {
      padding: 0.6rem 1.4rem;
    }
    .Text {
      padding: 0rem 1.4rem;
    }
    .Row {
      display: flex;
      flex-direction: row;
    }
    .Column {
      display: flex;
      flex-direction: column;
    }
    .BoldedText {
      font-weight: 500;
      font-size: 0.8rem;
    }
    .Date {
      font-weight: 500;
      font-size: 0.8rem;
      color: var(--grey);
    }
    .Selected {
      background-color: rgba($color: #a1a3ab, $alpha: 0.2);
      cursor: pointer;
    }
    .TrashIcon {
      color: black;
      background-color: var(--lightred);
      padding: 0.4rem;
      border-radius: 40%;
      stroke-width: 1.5px;
      transition: 0.2s;
      &:hover{
        padding: 0.3rem;
        size: 2.5rem;
        cursor: pointer;
        
      }
    }
    .EditIcon {
      color: black;
      background-color: var(--lightred);
      padding: 0.4rem;
      border-radius: 40%;
      stroke-width: 1.5px;
      transition: 0.2s;
      &:hover{
        padding: 0.3rem;
        size: 2.5rem;
        cursor: pointer;
      }
    }
    .Item {
      display: flex;
      flex-direction: row;
      margin: 1rem 3rem;
      width: 80%;
      border: 1px solid var(--lightgrey);
      border-radius: 14px;
      transition: all 0.4s;
      &:hover {
        background-color: rgba($color: #a1a3ab, $alpha: 0.2);
        cursor: pointer;
      }

      .StatusIcon {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        margin: 1rem;
        transition: all 0.4s;
      }
      .ItemDetails {
        display: flex;
        flex-direction: column;
        width: 100%;
        .Options {
          padding-right: 1rem;
        }
        .ImageContainer {
          padding: 0rem 2rem;
          .Image {
            height: 6rem;
            width: 6rem;
            border-radius: 14px;
            object-fit: cover;
          }
        }
        .Description {
          max-height: calc(1.25rem * 3);
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          line-clamp: 3;
          -webkit-line-clamp: 3;
        }
      }
    }
    .FullImageContainer {
      padding: 2rem 1.4rem 0.8rem 1.4rem;
      .FullImage {
        height: 12rem;
        width: 12rem;
        border-radius: 14px;
      }
    }
  }
}
#Red {
  color: var(--red);
}
#Blue {
  color: var(--blue);
}
#Selected {
  background-color: rgba($color: #a1a3ab, $alpha: 1);
}
#Green {
  color: var(--green);
}
#RedIcon {
  border: var(--red) 2px solid;
}
#BlueIcon {
  border: var(--blue) 2px solid;
}
#GreenIcon {
  border: var(--green) 2px solid;
}
