.Dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  height: 100%;
}
.Dashboard .Greeting {
  font-size: 1.8rem;
  font-weight: bold;
  padding-top: 1.2rem;
  font-family: "Inter", sans-serif;
}
.Dashboard .Container {
  height: 100%;
  width: 100%;
  background-color: red;
}

.AllTasksContainer {
  height: 100%;
  width: 85%;
  padding-top: 4rem;
  display: flex;
  flex-direction: row;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
}
.AllTasksContainer .Card {
  height: 90%;
  width: 40%;
  border-radius: 16px;
  border: 1px solid #a1a3ab;
  text-align: start;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.AllTasksContainer .Card ::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
  border-radius: 22px;
}
.AllTasksContainer .Card ::-webkit-scrollbar-thumb {
  background-color: #a1a3ab;
  border-radius: 22px;
}
.AllTasksContainer .Card ::-webkit-scrollbar-thumb:hover {
  background-color: #747474;
}
.AllTasksContainer .Card .ItemContainer {
  display: flex;
  margin-top: 0.4rem;
  flex-direction: column;
  overflow: auto;
}
.AllTasksContainer .Card h2 {
  padding-left: 3rem;
  padding-top: 2rem;
  position: relative;
  font-size: 1.2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.AllTasksContainer .Card h2::before {
  content: "";
  position: absolute;
  bottom: -8%;
  width: 3rem;
  border-bottom: 2px #f24e1e solid;
  transition: 0.5s;
}
.AllTasksContainer .Card:hover h2::before {
  width: 5.2rem;
}
.AllTasksContainer .Card h4 {
  font-size: 1rem;
  font-weight: bold;
}
.AllTasksContainer .Card p {
  font-size: 1rem;
  font-weight: normal;
  color: #747474;
}
.AllTasksContainer .Card .Pretext {
  padding: 0.6rem 1.4rem;
}
.AllTasksContainer .Card .Text {
  padding: 0rem 1.4rem;
}
.AllTasksContainer .Card .Row {
  display: flex;
  flex-direction: row;
}
.AllTasksContainer .Card .Column {
  display: flex;
  flex-direction: column;
}
.AllTasksContainer .Card .BoldedText {
  font-weight: 500;
  font-size: 0.8rem;
}
.AllTasksContainer .Card .Date {
  font-weight: 500;
  font-size: 0.8rem;
  color: #a1a3ab;
}
.AllTasksContainer .Card .Selected {
  background-color: rgba(161, 163, 171, 0.2);
  cursor: pointer;
}
.AllTasksContainer .Card .Item {
  display: flex;
  flex-direction: row;
  margin: 1rem 3rem;
  width: 80%;
  border: 1px solid #a1a3ab;
  border-radius: 14px;
  transition: all 0.4s;
}
.AllTasksContainer .Card .Item:hover {
  background-color: rgba(161, 163, 171, 0.2);
  cursor: pointer;
}
.AllTasksContainer .Card .Item .StatusIcon {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin: 1rem;
  transition: all 0.4s;
}
.AllTasksContainer .Card .Item .ItemDetails {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.AllTasksContainer .Card .Item .ItemDetails .Options {
  padding-right: 1rem;
}
.AllTasksContainer .Card .Item .ItemDetails .ImageContainer {
  padding: 0rem 2rem;
}
.AllTasksContainer .Card .Item .ItemDetails .ImageContainer .Image {
  height: 6rem;
  width: 6rem;
  border-radius: 14px;
  -o-object-fit: cover;
     object-fit: cover;
}
.AllTasksContainer .Card .Item .ItemDetails .Description {
  max-height: 3.75rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3;
}
.AllTasksContainer .Card .FullImageContainer {
  padding: 2rem 1.4rem 0.8rem 1.4rem;
}
.AllTasksContainer .Card .FullImageContainer .FullImage {
  height: 12rem;
  width: 12rem;
  border-radius: 14px;
}

#Red {
  color: #F21E1E;
}

#Blue {
  color: skyblue;
}

#Green {
  color: greenyellow;
}

#RedIcon {
  border: #F21E1E 2px solid;
}

#BlueIcon {
  border: blue 3px solid;
}

#GreenIcon {
  border: greenyellow 2px solid;
}/*# sourceMappingURL=Dashboard.css.map */