.LoginContainer {
  form {
    display: flex;
    flex-direction: row;
    padding: 1.4rem;
    border: #a1a3ab 1px solid;
    border-radius: 14px;
    gap: 1rem;
    font-family: "Inter";
    font-weight: 600;
    .Column {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: end;
      label {
        padding: 0.6rem 0rem 0.4rem 0rem;
      }
      h4 {
        font-size: 1rem;
      }
      input {
        width: 100%;
        height: 2rem;
        border: 1px solid #a1a3ab;
        padding: 0rem 0.2rem;
        border-radius: 6px;
        font-size: 1.1rem;
      }
      textarea {
        border: 1px solid #a1a3ab;
        padding: 0.2rem;
        border-radius: 6px;
        height: 16rem;
        width: 36rem;
        resize: none;
        font-size: 1.1rem;
      }
    }
  }
}
